.tagline {
  border-bottom: 3px solid black;
  border-bottom-color: red;
  margin-bottom: 10px;
}

.header {
  width: 100%;
  border-bottom: 3px solid black;
  /*padding: 10px;*/
  padding: 10px;
  margin-bottom: 10px;
  background-color: #96CC71;
  font-family: Comic Sans MS;
}

h1 {
  margin: auto;
  width: 50%;
  font-size: 30px;
}

h2 {
  margin: auto;
  width: 50%;
  font-size: 20px;
}

body {
  background-color: #FAFAFA;
}

div.question {
  margin-top: 10px;
  position: absolute;
}

div.question button:hover {

}

div.answer {
  margin: auto;
  width: 50%;
}

div.checkAnswer {
  margin: auto;
  width: 50%;
}

div.checkAnswer button:hover {
  background-color: #96CC71;
  font-size: 12px;
}

div.happyPuppy {
  margin-left: 25%;
  width: 50%;
  float: right;
}

p {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

p.num1 {
  position: relative;
  float: left;
  margin-right: 20px;
  margin-left: 10px;
}

p.num2 {
  position: relative;
  float: left;
}

p.operator {
  position: relative;
  float: left;
  margin-right: 20px;
}

