.tagline {

}

.header {
  width: 100%;
  border-bottom: 3px solid black;
  padding: 10px;
}

body {
  /*background-color: greenyellow;*/
}

div.question {
  /*background-color: blue;*/
}

h1 {
  /*background-color: purple;*/
  /*color: #FFFFFF;*/
}

h2 {
  /*color: #FFFFFF;*/
}

h3 {
  /*color: #FFFFFF;*/
}

ul li {
  /*color: #FFFFFF;*/
}

a {
  /*color: #00FF00*/
}
